.section-categories {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    img {
        width: 380px;
        height: 250px;
        border-radius: 20px;
        border: 2px solid black;
        margin: 30px;
        cursor: pointer;
        box-shadow: 0 20px 20px rgba(0, 0, 0, 0.15);
        transition: box-shadow 0.3s ease-in-out;
        &:hover {
            opacity: 80%;
            box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
        }
    }
}

.imageText {
    position: absolute;
    top: 16%;
    border: 2px solid black;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 25px;
    width: 80.6%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    text-align: center;
    color: white;
    background-color: #17a2b8;
}
