body {
    background-image: url("https://thumbs.gfycat.com/PertinentIgnorantKakapo-size_restricted.gif");
    background-repeat: no-repeat;
    background-size: cover;
}

.section-categories {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .row {
        margin: 0;
    }
    .row .col-4 {
        margin-top: 110px;
        margin-bottom: -35px;
    }
    img {
        width: 330px;
        height: 220px;
        border-radius: 20px;
        border: 3px solid white;
        margin: 30px;
        cursor: pointer;
        transition: all 0.2s ease-in-out;
        &:hover {
            transform: scale(1.1);
            box-shadow: 0 0 10px 5px #ccc;
        }
    }
}

.imageText {
    margin: auto;
    font-size: 28px;
    text-align: center;
    color: white;
    text-transform: uppercase;
    margin-top: 20px;
}

.borderRed {
    border-bottom: 3px solid red;
    width: 60%;
}

.cat1 {
    border-bottom: 3px solid red;
    width: 70%;
}
.cat2 {
    border-bottom: 3px solid lightcoral;
    width: 70%;
}
.cat3 {
    border-bottom: 3px solid lightseagreen;
    width: 70%;
}
.cat4 {
    border-bottom: 3px solid green;
    width: 70%;
}
.cat5 {
    border-bottom: 3px solid orange;
    width: 70%;
}
.cat6 {
    border-bottom: 3px solid #1663f1;
    width: 70%;
}
.cat7 {
    border-bottom: 3px solid white;
    width: 70%;
}
.cat8 {
    border-bottom: 3px solid coral;
    width: 70%;
}
.cat9 {
    border-bottom: 3px solid deepskyblue;
    width: 70%;
}

.card {
    border-radius: 20px;
    background-color: lightgrey;
    width: max-content;
    animation: colorchange 5s linear 1s infinite;
    transition: 2s;
    .card-title {
        font-size: 23px !important;
    }
    .card-body {
        font-size: 17px;
        margin-top: 5px;
    }
    .card-img {
        height: 340px;
        border: none;
        margin-top: 25px;
        margin-left: 50px;
        transform: none !important;
        transition: none;
        box-shadow: none !important;
        cursor: default;
        border-radius: 20px;
        border: 3px solid black;
    }
    .card-text-info {
        white-space: pre-line;
    }
    button {
        border: 2px solid black;
        transition: all 0.2s ease-in-out;
        outline: none;
        font-size: 17px;
        &:hover {
            transform: scale(1.2);
            background-color: white;
            color: black;
            border: 2px solid black;
        }
    }
}

.sep {
    border-top: 3px solid black;
}

.col-6 {
    padding-left: 15px;
    padding-right: 15px;
}

@keyframes colorchange {
    0% {
        background: lightblue;
    }
    33% {
        background: palegoldenrod;
    }
    66% {
        background: lightgray;
    }
    100% {
        background: lightcyan;
    }
}

.tag1 {
    border: 3px solid white;
    position: fixed;
    z-index: 99;
    left: 0;
    margin-left: 20px;
    margin-top: -30px;
    width: 9.5%;
}

.tag2 {
    border: 3px solid white;
    position: fixed;
    z-index: 99;
    left: 0;
    margin-left: 20px;
    margin-top: 40px;
    width: 9.5%;
}

.tag3 {
    border: 3px solid white;
    position: fixed;
    z-index: 99;
    left: 0;
    margin-left: 20px;
    margin-top: 110px;
    width: 9.5%;
}

.tag4 {
    border: 3px solid white;
    position: fixed;
    z-index: 99;
    left: 0;
    margin-left: 20px;
    margin-top: 180px;
    width: 9.5%;
}

.tag5 {
    border: 3px solid white;
    position: fixed;
    z-index: 99;
    left: 0;
    margin-left: 20px;
    margin-top: 250px;
    width: 9.5%;
}

.tag6 {
    border: 3px solid white;
    position: fixed;
    z-index: 99;
    left: 0;
    margin-left: 20px;
    margin-top: 320px;
    width: 9.5%;
}

.tag7 {
    border: 3px solid white;
    position: fixed;
    z-index: 99;
    left: 0;
    margin-left: 20px;
    margin-top: 390px;
    width: 9.5%;
}

.tag8 {
    border: 3px solid white;
    position: fixed;
    z-index: 99;
    left: 0;
    margin-left: 20px;
    margin-top: 460px;
    width: 9.5%;
}

// Button Back Top
#button {
    display: inline-block;
    background-color: #ff9800;
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 4px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    transition: background-color 0.3s, opacity 0.5s, visibility 0.5s;
    opacity: 0;
    visibility: hidden;
    z-index: 1000;
}
#button::after {
    content: "\f077";
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    font-size: 2em;
    line-height: 50px;
    color: #fff;
}
#button:hover {
    cursor: pointer;
    background-color: #333;
    text-decoration: none;
}
#button:active {
    background-color: #555;
}
#button.show {
    opacity: 1;
    visibility: visible;
}
