.section-categories {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .row {
        margin: 0;
    }
    .row .col-4 {
        margin-top: 110px;
        margin-bottom: -35px;
    }
    img {
        width: 330px;
        height: 220px;
        border-radius: 20px;
        border: 3px solid black;
        margin: 30px;
        cursor: pointer;
        transition: all 0.2s ease-in-out;
        &:hover {
            transform: scale(1.1);
            box-shadow: 0 0 10px 5px #ccc;
        }
    }
}

.imageText {
    margin: auto;
    font-size: 28px;
    text-align: center;
    color: black;
    text-transform: uppercase;
    margin-top: 20px;
    border-bottom: 3px solid red;
    width: 70%;
}
