.jumbotron {
    background-image: url("../../src/images/La-vie-de-vos-rêves.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    border-radius: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    h1,
    h2 {
        text-shadow: 5px 5px 5px black;
    }
    h2 {
        font-size: 25px;
        text-align: center;
        margin: 30px;
        white-space: pre-line;
        letter-spacing: 1px;
    }
    .btn {
        border: 2px solid black;
        padding: 12px 25px;
        margin-top: 40px;
    }
}
