.jumbotron {
    background-image: url("../../src/images/La-vie-de-vos-rêves.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 500px;
    border-radius: 0px;
}